

<!DOCTYPE html>
<html lang="en">



<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The page cannot be found">
  <meta name="author" content="">

  <title> <?= message ?> | greenUp</title>


  <link href="/dist/app.min.css" rel="stylesheet">
  <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


  <script src="/dist/app.min.js"></script>



</head>





<body>



 <? include ./partials/header ?>



 <!-- Page Content -->
 <div class="container">
   <div class="row text-center" style="margin-top: 70px;">

   <h1 style="font-size: 7em; color: #0288D1"><?= status ?></h1>
   <p style="font-size: 1.5em; color: #757575">
      <?= message ?>
   </p>
   </div>
 </div>
</div>
<!-- /#wrapper -->
<? include ./partials/footer ?>


</body>

</html>


