<!DOCTYPE html>
<html lang="en">

<?include ../partials/head ?>

<body>



 <? include ../partials/header ?>



 <!-- Page Content -->
 <div class="container">
   <div  class="row">
     <div class="col-md-2">
     </div>
     <div class="col-md-8">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            <?= passage.title ?>
          </h1>

        </div>
      </div>
      <!-- /.row -->


      <div class="row">
        <div class="col-lg-12 text-left">
          <div class="row ">

            <div  class="col-md-12">
              <?- passage.statement ?>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <hr>
        <div class="col-lg-12">
         <div id="passage-comments<?=passage._id?>">
           <? include ./component/passage/comment  ?>
         </div>
         <br>

         <a href="javascript:" id="load-more-<?= passage.id ?>" style="font-size: 0.875em" onclick="loadMoreComments('passage', '<?=passage._id?>')">load more comments</a> <br><br>

         <form id="passage-comment<?=passage._id?>" name="passage-comment" >
          <div class="form-group">
            <!-- <label>Add Comment</label> -->
            <textarea class="form-control" rows="3" name="text"></textarea>
          </div>
          <button  type="button" class="btn btn-primary" onclick="addComment('passage', '<?=passage._id?>')">Comment</button>
        </form>

      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
</div>
</div>
<!-- /#wrapper -->
<? include ../partials/footer ?>


<script>

  function loadMoreComments(type, id) { 
    console.log(type, id)
    var query = "/"+type+"s/"+id+"/comments?";
    var commentId = $("#"+type+"-comments"+id+" ." +type).last().attr('data-id');
    commentId = "commentId=" + commentId;
    console.log(commentId);
    $.get(query + commentId, function(data, status){
      if(!data){
        $( "#load-more-"+id ).hide();
        triggerCommentInterval(type, id);
      }
      else{
        $( "#"+type+"-comments" + id).append(data);
        $("#"+type+"-comments"+id+" ." +type).sort(function (a, b) {
          var contentA = Date.parse( $(a).attr('data-date'));
          var contentB = Date.parse( $(b).attr('data-date'));
          return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
        }).appendTo("#"+type+"-comments"+ id)
      }

    });

  }


  function triggerCommentInterval(type, id){
    setInterval(function(){
      console.log("in setInterval")
      var query = "/"+type+"s/"+id+"/comments?"
      var commentId = $("#"+type+"-comments"+id+" ." +type).last().attr('data-id');
      commentId = "commentId=" + commentId;
      console.log(commentId);
      $.get(query + commentId, function(data, status){
        if(data){
          $( "#"+type+"-comments" + id ).append(data);
          $("#"+type+"-comments"+id+" ." +type).sort(function (a, b) {
            var contentA = Date.parse( $(a).attr('data-date'));
            var contentB = Date.parse( $(b).attr('data-date'));
            return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
          }).appendTo("#"+type+"-comments"+id)
        }
      });
    }, 30000);

  }



  function addComment (type, id){
    var data = {};
    $("#"+type+"-comment"+ id).serializeArray().map(function(x){data[x.name] = x.value;}); 
    $.ajax({
     url: "/"+type+"s/"+ id +"/comments",
     data: data,
     type: 'POST',
     success: function(data) {
      $( "#"+type+"-comments" + id ).append( data );
      $("#"+type+"-comment"+ id + " textarea[name=text]").val('');
    },

    error: function(error){
      console.log(error)
    }
  });
  }




</script>

</body>

</html>


