<!DOCTYPE html>
<html lang="en">

<? include ../../partials/head ?>

<body>


	<? include ../../partials/admin/header ?>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Create Page
				</h1>

			</div>
		</div>
		<!-- /.row -->

		<!-- Projects Row -->
		<div class="row">
			<div class="col-lg-12">
				<div>
					

					<form id="page-form" action="/admin/pages/" method="POST" novalidate>
						<div class="control-group form-group">
							<div class="controls">
								<label>Title</label>
								<input type="text" name="title" class="form-control" required data-validation-required-message="Please enter title.">
								<p class="help-block"></p>
							</div>
						</div>

						<div class="control-group form-group">
							<div class="controls">
								<div id="summernote"></div>
								<textarea class="hidden" id="statement" name="statement" rows="4" cols="50"></textarea>
							</div>
						</div>
						
						<button type="submit" class="btn btn-primary">Create</button>


						<br>

					</form>
				</div>
			</div>
		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

	<? include ../../partials/footer ?>

</body>
<script>
$(document).ready(function() {

  $('#summernote').summernote({
  	  height: 300,                 
      minHeight: null,             
      maxHeight: null,             
      focus: true,
  });

  $('#page-form').submit(function() {
  	$("#statement").html($('#summernote').summernote('code'))
  });

});
</script>

</html>
