












<!DOCTYPE html>
<html lang="en">

<? include ../../partials/head ?>
<body>


	<? include ../../partials/admin/header ?>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Edit Page
					<small><a href="/admin/pages/<?= page.slug ?>"><?= page.slug?></a> </small>
				</h1>

			</div>
		</div>
		<!-- /.row -->

		<!-- Projects Row -->
		<div class="row">
			<div class="col-lg-12">
				<div >
					

					<form id="page-form" action="/admin/pages/<?= page._id ?>?_method=PUT" method="POST" novalidate>
						<div class="control-group form-group">
							<div class="controls">
								<label>Title</label>
								<input type="text" name="title"  value="<?= page.title ?>" class="form-control" required data-validation-required-message="Please enter title.">
								<p class="help-block"></p>
							</div>
						</div>
<!-- 						<div class="control-group form-group">
							<div class="controls">
								<label> Statement </label>
								<text-angular ng-model="statement" name="statement"></text-angular>
							</div>
						</div>
 -->

						<div class="control-group form-group">
							<div class="controls">
							  <div id="tempElem"><?- page.statement ?></div>
							  <div id="summernote"></div>
							  <textarea class="hidden" id="statement" name="statement" rows="4" cols="50"></textarea>
							</div>
						</div>




						<button type="submit" class="btn btn-primary">Update</button>

					</form>



				</div>
			</div>
		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

	<? include ../../partials/footer ?>

</body>
<script>
 


$(document).ready(function() {

  $('#summernote').summernote({
  	  height: 300,                 // set editor height
      minHeight: null,             // set minimum height of editor
      maxHeight: null,             // set maximum height of editor
      focus: true,
  });
  $('#summernote').summernote('code', $("#tempElem").html());
  $("#tempElem").remove();



  $('#page-form').submit(function() {
  	$("#statement").html($('#summernote').summernote('code'))
  });

});

</script>


</html>
