





<!DOCTYPE html>
<html lang="en">

<? include ../../partials/head ?>
<body>


    <? include ../../partials/admin/header ?>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page                 
                    <small><?= page.slug?></small>
                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-lg-12">
             <div>
                <h3>
                    Slug
                </h3>
                <span> <?= page.slug ?></span> <br>
            </div>


            <div>
                <h3>
                    Title
                </h3>
                <span> <?= page.title ?></span> <br>
            </div>

            <div>
                <h3>
                    Statement
                </h3>
                <span> <?- page.statement ?></span> <br>
            </div>
            <br>

            <div>
                <a href="/admin/pages/edit/<?= page._id ?>">edit</a>
            </div>
        </div>
    </div>
    <!-- /.row -->


</div>
<!-- /.container -->

<? include ../../partials/footer ?>

</body>

</html>
