html, body{
    font-size: 14px;
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
    color: #212121;
}

p { margin-bottom: 20px; }

a, .pagination>li>a {
    color: #0288D1;
}

a:hover{
    color: #03A9F4;
}

.pagination>li>a:hover {
    background-color: #B3E5FC;
    border-color: #B3E5FC;
    color: #0288D1;
}


.pagination>.active>a, .pagination>.active>a:hover {
    background-color: #03A9F4;
    border-color: #03A9F4
}


.text-block {
    font-size: 1.25rem;
    line-height: 1.8;
    margin-top: 3rem;
    /*    border-top: 1px dotted #BDBDBD;*/
}

.h1-container {
    margin-top: 3rem;
    /*margin-bottom: 3rem;*/
}


.h1-custom {
    font-size: 4.2rem;
}

.page-header{
    /*    border-bottom: 1px dotted #BDBDBD;*/
    border-bottom: transparent;

}

.h1-underline {
    border-top: 0.7rem solid #757575; 
    border-radius: 25rem;
    margin-bottom: 1.3rem;
}

h2 {
    font-size: 1.71rem;
}

h3 {
    font-size: 1.33rem;
}

h2, h3, .h1-custom {
    font-weight: 700;
    line-height: 1.8;

}


.commenter-name{
    font-size: 0.9em;
    font-weight: 700;
}

.commenter-date{
    font-size: 0.8em;
    color: #757575;
}

.comment-block {
    padding-top: 10px;
    padding-bottom: 10px; 
}


.small-font{
    font-size: 0.8em;
}

.small-gray-font{
    font-size: 0.8em;
    color: #757575;
}


.related-container {
    margin-top: 80px;
}


.related-block{
    font-size: 0.8125em;
}

.related-block > div {
    margin: 10px 0 10px 0;
}



.primary-button{
    background-color: #0288D1;
    border-color: #03A9F4;
}

.primary-button:hover, .primary-button:focus {
    background-color: #03a9f4;
    border-color: #0288D1;
}
/*.navbar-inverse {
	background-color: #fafafb;
	border-color: lightgray
}
*/


/*#262c38
#517398
#ff606e
#00ddd8*/

.navbar-inverse {
    background-color: #03A9F4;
    border-color: #03A9F4;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}




.navbar.navbar-inverse.navbar-fixed-top li > a:hover {
    /*color: #517398;*/
    background-color: #0288D1;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ffffff;

    font-weight: 900;
    background-color: transparent;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-brand{
 color: #ffffff;
 font-weight: 900;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #0288D1;
}

.navbar-inverse .navbar-toggle {
    border-color: #0288D1;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #0288D1;
}


@media (max-width: 767px) {

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #0288D1;
        background-color: transparent;
    }
}



.dropdown-menu > li > a {
  color: #0288D1;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #0288D1;
}


.numberCircle {
    border-radius: 35%;
    behavior: url(PIE.htc);
    padding: 5px;
    background-color: #ff606e;
    color: #ffffff;
    text-align: center;
    font-weight: 900 !important;
    font-style: italic !important;
    font: 10px Arial, sans-serif;
}



body > .container{
	min-height: 600px;
}


footer {
    margin: 70px 0 0 0 !important;
    padding: 10px;
    background-color: #212121;
    color: #FFFFFF;

}

.footer-row{
	margin: 0;
}

.essential{
    display: none;
}




#page-comments{
    font-size: 0.97em;
    line-height: 1.7;
}

.commenter-info{
    margin-bottom: 15px;
}



.noto-nastaliq{
    font-family: 'Noto Nastaliq Urdu', serif;
}