          <? comments.forEach(function(comment, index) { ?>
          <div  class="page" id="comment<?=comment._id?>" data-id="<?=comment._id?>" data-date="<?- comment.updatedAt ?>" style = "<?= comment.rtl? 'direction: rtl;' : '' ?>">
             <div class="row comment-block" >

               <div class="col-lg-12 commenter-info">
                    <span class="commenter-name"><?= comment.guestUser.name ?></span><br>
                    <span class="commenter-date"><?=   moment(comment.updatedAt).format('MMM D, YYYY [at] h:mm:ss a');  ?> </span>
                    
               </div>

                 <div class="col-lg-12 <?= comment.rtl? 'noto-nastaliq' : '' ?>">
                    <!-- style="white-space: pre-wrap;" -->
                    <span ><?- comment.text ?></span>

               </div>



          </div>

          <hr style="margin-top: 10px; margin-bottom: 10px;">
     </div>

     <? }); ?>