<!DOCTYPE html>
<html lang="en">

<?include ../partials/head ?>

<body>



 <? include ../partials/header ?>



 <!-- Page Content -->
 <div class="container">
   <div  class="row">
     <div class="col-md-2">
     </div>
     <div class="col-md-8">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            <?= page.title ?>
          </h1>

        </div>
      </div>
      <!-- /.row -->


      <div class="row">
        <div class="col-lg-12 text-left">
          <div class="row ">

            <div  class="col-md-12">
              <?- page.statement ?>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <hr>
        <div class="col-lg-12">
         <div id="page-comments<?=page._id?>">
           <? include ./component/page/comment  ?>
         </div>
         <br>

         <? if (comments && comments.length) {?>
         <a href="javascript:" id="load-more-<?= page.id ?>" style="font-size: 0.875em" onclick="loadMoreComments('page', '<?=page._id?>')">load more comments</a> <br><br>
         <? } ?>

         <form id="page-comment<?=page._id?>" name="page-comment" >
           <div >



            <div class="row form-group">
              <div class="col-sm-6">
                <input class="form-control" type="name" name="name" placeholder="Name" required>
              </div>
            </div>

            <div class="row form-group">
             <div class="col-sm-12">
              <textarea class="form-control" id="text" rows="7" name="text" placeholder="Comment" required></textarea>

            </div>
          </div>

        </div>
        <button  id="add-comment-btn" type="button" class="btn btn-primary" onclick="addComment('page', '<?=page._id?>')" >Add</button>
      </form>

    </div>
  </div>

</div>
<!-- /.container -->

</div>
</div>
</div>
<!-- /#wrapper -->
<? include ../partials/footer ?>


<script>

  function loadMoreComments(type, id) { 
    console.log(type, id)
    var query = "/"+id+"/comments?";
    var commentId = $("#"+type+"-comments"+id+" ." +type).last().attr('data-id');
    commentId = "commentId=" + commentId;
    console.log(commentId);
    $.get(query + commentId, function(data, status){
      if(!data){
        $( "#load-more-"+id ).hide();
        triggerCommentInterval(type, id);
      }
      else{
        $( "#"+type+"-comments" + id).append(data);
        $("#"+type+"-comments"+id+" ." +type).sort(function (a, b) {
          var contentA = Date.parse( $(a).attr('data-date'));
          var contentB = Date.parse( $(b).attr('data-date'));
          return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
        }).appendTo("#"+type+"-comments"+ id)
      }

    });

  }


  function triggerCommentInterval(type, id){
    setInterval(function(){
      console.log("in setInterval")
      var query = "/"+type+"s/"+id+"/comments?"
      var commentId = $("#"+type+"-comments"+id+" ." +type).last().attr('data-id');
      commentId = "commentId=" + commentId;
      console.log(commentId);
      $.get(query + commentId, function(data, status){
        if(data){
          $( "#"+type+"-comments" + id ).append(data);
          $("#"+type+"-comments"+id+" ." +type).sort(function (a, b) {
            var contentA = Date.parse( $(a).attr('data-date'));
            var contentB = Date.parse( $(b).attr('data-date'));
            return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
          }).appendTo("#"+type+"-comments"+id)
        }
      });
    }, 30000);

  }



  function addComment (type, id){
    var data = {};
    $("#"+type+"-comment"+ id).serializeArray().map(function(x){data[x.name] = x.value;}); 
    console.log(data);
    console.log(!data.text)
    if(!data.text){
      $("#text").after("<div id='text-validation-error' style='color:red;'>Please enter comment</div>");
      $( "#text" ).focus(function() {
        $("#text-validation-error").remove();
        $(this).off('focus');
      });
    }
    else{
      $('#add-comment-btn').attr('disabled', 'disabled'); 
      $.ajax({
       url: "/"+ id +"/comments",
       data: data,
       type: 'POST',
       success: function(data) {
        $("#"+type+"-comments" + id ).append( data );
        $("#"+type+"-comment"+ id + " textarea[name=text]").val('');
        $('#add-comment-btn').removeAttr('disabled'); 
      },

      error: function(error){
        console.log(error)
      }
    });
    }

  }

  $(document).ready(function(){


   $.fn.setUrduInput = function (options) 
   {
    var m={"q":"ق","w":"و","e":"ع","r":"ر","t":"ت","y":"ے","u":"ء","i":"ی","o":"ہ","p":"پ","a":"ا","s":"س","d":"د","f":"ف","g":"گ","h":"ح","j":"ج","k":"ک","l":"ل","z":"ز","x":"ش","c":"چ","v":"ط","b":"ب","n":"ن","m":"م","`":"ً",",":"،",".":"۔","Q":"ْ","W":"ّ","E":"ٰ","R":"ڑ","T":"ٹ","Y":"َ","U":"ئ","I":"ِ","O":"ۃ","P":"ُ","A":"آ","S":"ص","D":"ڈ","G":"غ","H":"ھ","J":"ض","K":"خ","Z":"ذ","X":"ژ","C":"ث","V":"ظ","N":"ں","M":"٘","~":"ٍ","?":"؟","F":"ٔ","L":"ل","B":"ب"};
    var last = '';
    $(this).bind('input', function ()
    {
      var pos = document.querySelector("#text").selectionEnd;
      var s = $(this).val();    
      var isLastPos = (pos==s.length);
      if (last==s) return;
      var S = [];
      for (var x = 0; x < s.length; x++)
      {
        var c = s.charAt(x);
        S.push(m[c]||c);
      }
      $(this).val(S.join(''));
      last = $(this).val();
      if (!isLastPos) {
        document.querySelector("#text").selectionStart = document.querySelector("#text").selectionEnd = pos;
      }

      jQuery(this).css('direction', checkUrdu(jQuery(this).val().substr(0, 1)) ? 'rtl' : 'ltr');

    });


    function checkUrdu(firstChar) {

      return !m[firstChar]? true: false ;
    }


  };

  $('#text').setUrduInput();

});



  // })







</script>

</body>

</html>


